/*body {*/
    /*background-image: url("static/front.jpg");*/
/*}*/


div.container .form-group .custom{
    padding-top: 6rem;
}




/*div.col-md-12 header.titled-pane {*/
    /*background: rgba(195, 195, 195, 0.6);*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*!*padding: 20px;*!*/
    /*border-radius: 5px;*/
    /*border-bottom-style: groove;*/

/*}*/

/*.wrapper {*/
/*.make-row();*/
    /*padding-top: 5%;*/
    /*margin-outside: 10%;*/

/*}*/

/*!*.content-main {*!*/
/*!*.make-lg-column(3);*!*/
    /*!*width: 70%;*!*/
    /*!*padding-left: 10%;*!*/
/*!*}*!*/
/*!*.content-secondary {*!*/
/*!*.make-lg-column(8);*!*/
    /*!*transform: translate(5%,0)*!*/

/*!*}*!*/

/*!*.pull-right {*!*/
  /*!*float: right !important;*!*/
/*!*}*!*/

/*!*.container-fluid custom{*!*/
    /*!*margin-top: 20px;*!*/
    /*!*padding: 60px;*!*/
/*!*}*!*/

/*!*div.content-secondary .col-xs-10 col-md-6  img.img-responsive img.img-rounded {*!*/
    /*!*width: 200px;*!*/
    /*!*max-height: 200px;*!*/
    /*!*object-fit: cover;*!*/
/*!*}*!*/
