<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sweat Dreams</title>
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Sweet Dream</title>
</head>
<body>
<div class="container-fluid">
    <div class="form-group navbar-static-top navbar-default">
        <div class="navbar-form">
            <div class="nav-justified text-center">
                <h3>Author: <span th:text="${recipes.get(0).getAuthor()}"></span></h3>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href="/" style="text-decoration: none">
            <button type="submit" class="btn btn-info btn-animated custom">
                Back
            </button>
        </a>
    </div>
</div>
<div class="container form-group">
    <div class="form-group">
        <h3>Recipes: </h3>
    </div>
    <div th:each="recipe : ${recipes}" class="form-group panel">
        <label>Cake: <span th:text="${recipe.getCake().getName()}"></span></label>
        <div>
            <img th:src="${recipe.getCake().getImage()}">
        </div>
        <div>
            <p th:text="${recipe.getContent()}"></p>
        </div>
        <label>Recipe's ID: <span th:text="${recipe.getId()}"></span></label>
    </div>
</div>

</body>
</html>