<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Sweet Dream</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-static-top navbar-default">
                <div class="navbar-form">
                    <div class="navbar-form">
                        <div class="nav-justified text-center">
                            <h1>Welcome to Sweet Dream!</h1>
                        </div>
                        <div class="navbar-form">
                            <button type="button" class="btn navbar-right btn-default">
                                <a href="/cakes/info" class="navbar-top">About us</a>
                            </button>
                        </div>
                    </div>
                    <div class="navbar-form nav-stacked text-center">
                        <h3>Find your favourite cakes and the best recipes for them.</h3>
                    </div>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="container form-group custom">
                <div class="content-main">

                    <div class="col-xs-8 col-md-6">

                        <form action="/cakes/search" method="post" name="CakeSearch">
                            <div class="form-group">
                                <h5>Search for a cake</h5>

                                <label for="cakeName">Cake's name: </label>
                                <input type="text" class="form-control" name="name" id="cakeName">
                            </div>

                            <div class="form-group">
                                <label for="kindOfCake">Cake's type: </label>
                                <select id="kindOfCake" name="type" class="form-control">
                                    <option value="cheesecake">Cheesecake</option>
                                    <option value="cream">With cream</option>
                                    <option value="sponge">Sponge cake</option>
                                    <option value="vegetable">Vegetable based</option>
                                    <option value="fruit">Fruit based</option>
                                    <option value="chocolate">Chocolate cake</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-control-search">
                                <button type="submit" class="btn btn-info btn-animated" value="Search for cake">
                                    Search
                                </button>
                            </div>
                        </form>

                        <div class="form-group">
                            <form action="/cakes/search_author" method="get" name="RecipesSearch">
                                <div class="form-group">
                                    <h5>Search for all recipes of an author</h5>
                                    <label for="authorName">Author's name: </label>
                                    <input type="text" name="author" id="authorName" class="form-control">
                                </div>
                                <div class="form-control-search">
                                    <button type="submit" class="btn btn-info btn-animated"
                                            value="Search for recipes">Search
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="form-group">
                            <a href="/cakes/add">
                                <button type="submit" class="btn btn-info btn-animated">
                                    Add cake
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-secondary">
                    <div class="col-xs-8 col-md-6">
                        <p th:if="${message2}" th:text="${message2}" style="color: #28801a"/></p>
                        <div th:each="cake : ${cake.findAll()}">
                            <div class="form-group">
                                <h4 th:text="${cake.getName()}"></h4>
                                <div class="form-inline">
                                    <label for="tp"><h5>Type: </h5></label>
                                    <span th:text="${cake.type}" id="tp"></span>
                                </div>
                                <img th:src="${cake.image}" class="img-responsive img-rounded"
                                     th:alt="${cake.name}">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>