<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sweet Dream</title>
    <link rel="stylesheet" href="show.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group navbar-static-top navbar-default">
                <div class="navbar-form">
                    <div class="nav-justified text-center">
                        <h2><p th:text="${cake.name}"></p></h2>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a href="/" style="text-decoration: none">
                    <button type="submit" class="btn btn-info btn-animated custom">
                        Back
                    </button>
                </a>
            </div>


            <div class="container">
                <div class="form-group">
                    <div><h4>Cake type: </h4><span th:text="${cake.type}"></span></div>
                    <h4>Description:</h4>
                    <p th:text="${cake.description}"></p>
                    <img th:src="${cake.image}" class="img-responsive img-rounded" th:alt="${cake.name}">

                </div>
            </div>


            <div class="container form-group">
                <div class="titled-pane">
                    <h3>Recipes:</h3>
                </div>
                <p th:if="${message2}" th:text="${message2}" style="color: green"/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-10-md-6">

                            <div th:each="recipe :${cake.recipes}">
                                <div class="container form-horizontal">
                                    <label for="rid">Recipe's ID: </label>
                                    <p class="right-button" th:text="${recipe.id}" id="rid"></p>
                                    <label for="rau">Author: </label><h4
                                        th:text="${recipe.author}"
                                        id="rau"></h4>
                                </div>
                                <div class="container form-group">
                                    <p th:text="${recipe.content}"></p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="container">
            <div class="col-md-6">

                <form action="/cakes/addRecipe" method="post">

                    <div class="form-group">
                        <label for="author">Author: </label>
                        <input type="text" class="form-control" name="author" id="author">
                    </div>
                    <div class="form-group">
                        <label for="description">Write a recipe: </label>
                        <textarea class="form-control" rows="10" id="description" name="content"></textarea>
                    </div>
                    <input type="hidden" name="cake" th:value="${cake.id}"/>
                    <!-- needed so each recipe will be added to the correct cake -->

                    <div class="form-group">
                        <a th:href="@{'/cakes/' + ${cake.id}}">
                            <button type="submit" class="btn btn-info btn-animated">Add</button>
                        </a>
                        <button type="reset" class="btn btn-info btn-animated">Clear</button>
                    </div>

                </form>


            </div>
        </div>
    </div>


</body>
</html>